@import "tailwindcss";

:root {
  --background: #F7F3F0;
  --white: #FFFFFF;
  --ink: #2E1401;
  --yellow: #F8CB46;
  --light-blue: #92ADEB;
  --blue: #5072C7;
  --pink: #FC8AE5;
  --salmon: #F073A3;
  --crimson: #E11966;
  --teal: #47D9C9;
}

@theme inline {
  --color-background: var(--background);
  --color-ink: var(--ink);
  --color-white: var(--white);
  --color-yellow: var(--yellow);
  --color-light-blue: var(--light-blue);
  --color-blue: var(--blue);
  --color-pink: var(--pink);
  --color-salmon: var(--salmon);
  --color-crimson: var(--crimson);
  --color-teal: var(--teal);
  /* ? */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--ink);
}
